<!-- layout navbar -->
<app-portal-navbar></app-portal-navbar>

<!-- ----------- content ----------- -->
<router-outlet></router-outlet>
<!-- ----------- content ----------- -->

<!-- layout - footer -->
<app-footer></app-footer>

<div
  class="modal fade"
  id="removeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">刪除商品</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>是否確認刪除商品</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          否
        </button>
        <button type="button" class="btn btn-outline-danger px-5">是</button>
      </div>
    </div>
  </div>
</div>
