<div>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>產品列表</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="form-row">
            <!-- 產品查詢 -->
            <div class="form-group col-md-3 mb-0">
              <label for="">產品名稱</label>
              <input
                type="text"
                class="form-control"
                name="queryProductName"
                [placeholder]="'輸入產品名稱'"
                [(ngModel)]="queryProductName"
                (keyup.enter)="getPageData(1)"
              />
            </div>
            <!-- 分類查詢 -->
            <div class="form-group col-md-3 mb-0">
              <label for="category">產品分類</label>
              <select
                id="paymentMethod"
                class="form-control"
                [(ngModel)]="queryCategoryId"
              >
                <option disabled [ngValue]="null">請選擇</option>
                <option
                  *ngFor="let category of categoryList"
                  [ngValue]="category.value"
                >
                  {{ category.text }}
                </option>
              </select>
            </div>
            <!-- 查詢 btn -->
            <div class="form-group col-md-6 mb-0 text-right">
              <br />
              <button class="btn btn-success mr-2" (click)="getPageData(1)">
                查詢
              </button>
              <input
                *ngIf="permission === 'Owner'"
                type="button"
                class="btn btn-primary"
                value="新增"
                (click)="create()"
              />
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <!-- 查詢內容 -->
          <table class="table table-hover text-nowrap">
            <thead class="bg-light">
              <tr>
                <th>產品名稱</th>
                <th>產品分類</th>
                <th>原價</th>
                <th>售價</th>
                <th>庫存</th>
                <th *ngIf="permission === 'Owner'">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.title }}</td>
                <td>{{ product.category }}</td>
                <td>
                  {{ product.originPrice | currency: "TWD":"symbol":"1.0-0" }}
                </td>
                <td>{{ product.price | currency: "TWD":"symbol":"1.0-0" }}</td>
                <td>{{ product.num }} {{ product.unit }}</td>
                <td *ngIf="permission === 'Owner'">
                  <input
                    type="button"
                    value="編輯"
                    class="btn btn-outline-primary btn-sm mr-2"
                    (click)="edit(product)"
                  />

                  <input
                    type="button"
                    value="刪除"
                    class="btn btn-outline-danger btn-sm"
                    [swal]="deleteSwal"
                  />
                  <swal
                    #deleteSwal
                    title="確定刪除 {{ product.title }} ?"
                    text="刪除後無法還原!"
                    [showCancelButton]="true"
                    [focusCancel]="true"
                    (confirm)="remove(product.productId)"
                  ></swal>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <!-- 重新整理 -->
            <div class="col-md-1">
              <button class="btn btn-secondary" (click)="getPageData(1)">
                <i class="fas fa fa-repeat"></i>
              </button>
            </div>
            <!-- 分頁 -->
            <div class="col-md-11">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <!-- 上一頁 -->
                  <li
                    class="page-item"
                    [ngClass]="{ disabled: pagination.hasPrePage === false }"
                  >
                    <a
                      class="page-link"
                      href="#"
                      aria-label="Previous"
                      (click)="
                        getPageData(currentPage - 1); $event.preventDefault()
                      "
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <!-- 分頁清單 -->
                  <li
                    class="page-item"
                    *ngFor="let pageNumber of totalPageArray"
                    [ngClass]="{
                      active: pagination.currentPage === pageNumber
                    }"
                  >
                    <a
                      class="page-link"
                      href="#"
                      (click)="getPageData(pageNumber); $event.preventDefault()"
                      >{{ pageNumber }}</a
                    >
                  </li>
                  <!-- 下一頁 -->
                  <li
                    class="page-item"
                    [ngClass]="{ disabled: pagination.hasNextPage === false }"
                  >
                    <a
                      class="page-link"
                      href="#"
                      aria-label="Next"
                      (click)="
                        getPageData(currentPage + 1); $event.preventDefault()
                      "
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ngx-loading [show]="loading"></ngx-loading>
