<!-- 導覽列 -->
<app-portal-navbar></app-portal-navbar>

<!-- 內容 -->
<router-outlet></router-outlet>

<!-- 頁尾 -->
<app-footer></app-footer>

<ng-go-top-button
  [animate]="true"
  [speed]="50"
  [acceleration]="2"
  [scrollDistance]="300"
  [classNames]="'custom-class'"
  [styles]="{
    margin: '15px',
    position: 'fixed',
    bottom: '20px',
    right: '30px',
    height: '40px',
    width: '40px',
    'border-radius': '10px',
    cursor: 'pointer'
  }"
>
  <i class="fa fa-arrow-up"></i>
</ng-go-top-button>
