<div>
  <main class="form-signin">
    <form (click)="signin()">
      <h1 class="h3 mb-3 fw-normal">請先登入</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Account" />
        <label for="floatingInput">Account</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign in
      </button>
    </form>
  </main>
</div>
