<div class="jumbotron jumbotron-fluid jumbotron-bg d-flex align-items-end">
  <div class="container">
    <div class="p-3 bg-lighter">
      <h1 class="display-3 font-weight-bold">買到剁手手！最後出清</h1>
      <p class="lead">
        This is a modified jumbotron that occupies the entire horizontal space
        of its parent.
      </p>
    </div>
  </div>
</div>
<div class="container main-contant mb-1">
  <div class="row">
    <div class="col-md-3">
      <!-- layout - menu -->
      <app-menu></app-menu>
    </div>

    <div class="col-md-9">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>
