<div>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>訂單列表</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <!-- 查詢框 -->
        <div class="card-header">
          <div class="form-row">
            <div class="form-group col-md-3 mb-0">
              <label for="">開始日期</label>
              <input
                type="text"
                placeholder="選擇開始日期"
                class="form-control"
                name="query_startDate"
                id="query_startDate"
                [(ngModel)]="query_startDate"
                [bsConfig]="{
                  dateInputFormat: 'YYYY-MM-DD',
                  showWeekNumbers: false
                }"
                bsDatepicker
              />
            </div>
            <div class="form-group col-md-3 mb-0">
              <label for="">結束日期</label>
              <input
                type="text"
                placeholder="選擇結束日期"
                class="form-control"
                name="query_endDate"
                id="query_endDate"
                [(ngModel)]="query_endDate"
                [bsConfig]="{
                  dateInputFormat: 'YYYY-MM-DD',
                  showWeekNumbers: false
                }"
                bsDatepicker
              />
            </div>
            <div class="form-group col-md-4 mb-0">
              <label for="paymentMethod">付款方式</label>
              <select
                id="paymentMethod"
                class="form-control"
                [(ngModel)]="query_paymentMethod"
              >
                <option disabled [ngValue]="null">請選擇</option>
                <option
                  *ngFor="let paymentMethod of paymentMethodList"
                  [ngValue]="paymentMethod.value"
                >
                  {{ paymentMethod.text }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-2 mb-0 pt-2 text-right">
              <br />
              <button class="btn btn-success" (click)="getPageData(1)">
                查詢
              </button>
            </div>
          </div>
        </div>
        <!-- 內容 -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead class="bg-light">
              <tr>
                <th>訂單編號</th>
                <th>訂單狀態</th>
                <th>購買時間</th>
                <th>Email</th>
                <th>訂單內容</th>
                <th>應付金額</th>
                <th>付款方式</th>
                <th>是否付款</th>
                <th *ngIf="permission === 'Owner'">狀態編輯</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let order of orders"
                [ngClass]="{ 'text-secondary': !order.isPaid }"
              >
                <td>{{ order.orderId }}</td>
                <td>{{ order.orderStatus }}</td>
                <td>
                  {{ order.createDateTime | date: "yyyy-MM-dd HH:mm:ss" }}
                </td>
                <td>{{ order.email }}</td>
                <td>
                  <ul
                    class="list-unstyled"
                    *ngIf="order.orderDetailInfos !== null"
                  >
                    <li *ngFor="let orderDetail of order.orderDetailInfos">
                      {{ orderDetail.productTitle }} 數量 :
                      {{ orderDetail.qty }} {{ orderDetail.productUnit }}
                    </li>
                  </ul>
                </td>
                <td>
                  {{ order.totalAmount | currency: "TWD":"symbol":"1.0-0" }}
                </td>
                <td>{{ order.paymentMethod }}</td>
                <td>
                  <strong *ngIf="order.isPaid" class="text-success"
                    >已付款</strong
                  >
                  <span *ngIf="order.isPaid === false" class="text-muted"
                    >尚未付款</span
                  >
                </td>
                <td *ngIf="permission === 'Owner'">
                  <input
                    *ngIf="order.orderStatus === '訂單已建立'"
                    type="button"
                    value="完成"
                    class="btn btn-outline-primary btn-sm mr-2"
                    (click)="updateOrder(order.serialNumber, 'Finished')"
                  />

                  <input
                    *ngIf="order.orderStatus === '訂單已建立'"
                    type="button"
                    value="取消"
                    class="btn btn-outline-danger btn-sm mr-2"
                    [swal]="cancelSwal"
                  />
                  <swal
                    #cancelSwal
                    title="確定取消交易 訂單編號 : {{ order.orderId }} ?"
                    text="手動取消交易!"
                    [showCancelButton]="true"
                    [focusCancel]="true"
                    (confirm)="updateOrder(order.serialNumber, 'Cancel')"
                  ></swal>

                  <input
                    *ngIf="order.orderStatus === '訂單已建立'"
                    type="button"
                    value="退款"
                    class="btn btn-outline-danger btn-sm"
                    [swal]="refundSwal"
                  />
                  <swal
                    #refundSwal
                    title="確定退款 訂單編號 : {{ order.orderId }} ?"
                    text="手動退款!"
                    [showCancelButton]="true"
                    [focusCancel]="true"
                    (confirm)="updateOrder(order.serialNumber, 'Refund')"
                  ></swal>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <!-- 重新整理 -->
            <div class="col-md-1">
              <button class="btn btn-secondary" (click)="getPageData(1)">
                <i class="fas fa fa-repeat"></i>
              </button>
            </div>
            <!-- 分頁 -->
            <div class="col-md-11">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <!-- 上一頁 -->
                  <li
                    class="page-item"
                    [ngClass]="{ disabled: pagination.hasPrePage === false }"
                  >
                    <a
                      class="page-link"
                      href="#"
                      aria-label="Previous"
                      (click)="
                        getPageData(currentPage - 1); $event.preventDefault()
                      "
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <!-- 分頁清單 -->
                  <li
                    class="page-item"
                    *ngFor="let pageNumber of totalPageArray"
                    [ngClass]="{
                      active: pagination.currentPage === pageNumber
                    }"
                  >
                    <a
                      class="page-link"
                      href="#"
                      (click)="getPageData(pageNumber); $event.preventDefault()"
                      >{{ pageNumber }}</a
                    >
                  </li>
                  <!-- 下一頁 -->
                  <li
                    class="page-item"
                    [ngClass]="{ disabled: pagination.hasNextPage === false }"
                  >
                    <a
                      class="page-link"
                      href="#"
                      aria-label="Next"
                      (click)="
                        getPageData(currentPage + 1); $event.preventDefault()
                      "
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ngx-loading [show]="loading"></ngx-loading>
