<!-- 左側選單 (List group) -->
<div class="list-group sticky-top">
  <!-- 金牌 -->
  <a
    class="list-group-item list-group-item-action"
    data-toggle="list"
    [ngClass]="{
      active: menuItemArray[0].itemIsActive === true
    }"
    [routerLink]="['/portal/products']"
    [queryParams]="{ category: menuItemArray[0].itemCategory }"
    (click)="activeItem(0)"
  >
    <i class="fa fa-suitcase" aria-hidden="true"></i>
    {{ menuItemArray[0].itemName }}</a
  >
  <!-- 禮品 -->
  <a
    class="list-group-item list-group-item-action"
    data-toggle="list"
    [ngClass]="{
      active: menuItemArray[1].itemIsActive === true
    }"
    [routerLink]="['/portal/products']"
    [queryParams]="{ category: menuItemArray[1].itemCategory }"
    (click)="activeItem(1)"
  >
    <i class="fa fa-gift" aria-hidden="true"></i>
    {{ menuItemArray[1].itemName }}</a
  >
  <!-- 寵物用品 -->
  <a
    class="list-group-item list-group-item-action"
    data-toggle="list"
    [ngClass]="{
      active: menuItemArray[2].itemIsActive === true
    }"
    [routerLink]="['/portal/products']"
    [queryParams]="{ category: menuItemArray[2].itemCategory }"
    (click)="activeItem(2)"
  >
    <i class="fa fa-paw" aria-hidden="true"></i>
    {{ menuItemArray[2].itemName }}</a
  >
  <!-- 影音商品 -->
  <a
    href="#"
    class="list-group-item list-group-item-action disabled"
    data-toggle="list"
    (click)="notYetOpen(); $event.preventDefault()"
  >
    <i class="fa fa-film" aria-hidden="true"></i> 影音商品</a
  >
  <!-- 居家環境 -->
  <a
    href="#"
    class="list-group-item list-group-item-action disabled"
    data-toggle="list"
    (click)="notYetOpen(); $event.preventDefault()"
  >
    <i class="fa fa-tree" aria-hidden="true"></i> 居家環境</a
  >
</div>
