<form
  class="form-horizontal"
  autocomplete="off"
  #createOrEditProductForm="ngForm"
  (ngSubmit)="save()"
>
  <app-modal-header
    [title]="'優惠券'"
    (onCloseClick)="bsModalRef.hide()"
  ></app-modal-header>
  <div class="modal-body">
    <!-- 標題 -->
    <div class="form-group required">
      <label for="title">標題</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="請輸入標題"
        required
        maxlength="50"
        [(ngModel)]="coupon.title"
        #title="ngModel"
      />
      <!-- check -->
      <div *ngIf="title.invalid && (title.dirty || title.touched)">
        <label for="" class="text-danger" *ngIf="title.errors?.['required']"
          >請輸入標題!</label
        >
        <br />
        <label for="" class="text-danger" *ngIf="title.errors?.['maxlength']"
          >輸入內容請少於50個字!</label
        >
      </div>
    </div>
    <!-- 優惠碼 -->
    <div class="form-group required">
      <label for="couponCode">優惠碼</label>
      <input
        type="text"
        class="form-control"
        name="couponCode"
        id="couponCode"
        placeholder="請輸入優惠碼"
        required
        [(ngModel)]="coupon.couponCode"
        #couponCode="ngModel"
      />
      <!-- check -->
      <div
        *ngIf="couponCode.invalid && (couponCode.dirty || couponCode.touched)"
      >
        <label
          for=""
          class="text-danger"
          *ngIf="couponCode.errors?.['required']"
          >請輸入優惠碼!</label
        >
        <br />
        <label
          for=""
          class="text-danger"
          *ngIf="couponCode.errors?.['maxlength']"
          >輸入內容請少於50個字!</label
        >
      </div>
    </div>
    <!-- 到期日 -->
    <div class="form-group required">
      <label for="dueDateTimeString">到期日</label>
      <input
        type="text"
        placeholder="請選擇日期"
        class="form-control"
        name="dueDateTimeString"
        id="dueDateTimeString"
        [(ngModel)]="dueDateTimeString"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
        bsDatepicker
      />
    </div>
    <!-- 折扣百分比 -->
    <div class="form-group required">
      <label for="percent">折扣百分比</label>
      <input
        type="number"
        class="form-control"
        name="percent"
        id="percent"
        placeholder="95 => 95折"
        required
        [(ngModel)]="coupon.percent"
        #percent="ngModel"
      />
      <!-- check -->
      <div *ngIf="percent.invalid && (percent.dirty || percent.touched)">
        <label for="" class="text-danger" *ngIf="percent.errors?.['required']"
          >請輸入折扣百分比!</label
        >
      </div>
    </div>
    <!-- 是否啟用 -->
    <div class="form-group">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="isEnabled"
          id="isEnabled"
          [(ngModel)]="coupon.isEnabled"
        />
        <label class="form-check-label" for="isEnabled" style="cursor: pointer"
          >是否啟用</label
        >
      </div>
    </div>
  </div>
  <app-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createOrEditProductForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></app-modal-footer>
</form>
